@charset "UTF-8";

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* box-sizing: border-box; */
    padding: 0;
    margin: 0;
}

.abot-reset div, .abot-reset span, .abot-reset p, .abot-reset a, .abot-reset img, .abot-reset b, .abot-reset form, .abot-reset div.form, .abot-reset label, .abot-reset textarea, .abot-reset input, .abot-reset input[type] {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size-adjust: none;
    font-size: 100%;
    font-style: normal;
    letter-spacing: normal;
    font-stretch: normal;
    font-variant: normal;
    font-weight: normal;
    font: normal normal 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    -moz-text-align-last: initial;
    text-align-last: initial;
    text-decoration: none;
    -webkit-text-emphasis: none;
    text-emphasis: none;
    text-height: auto;
    text-indent: 0;
    text-justify: auto;
    text-outline: none;
    text-shadow: none;
    text-transform: none;
    text-wrap: normal;
    alignment-adjust: auto;
    alignment-baseline: baseline;
    -webkit-animation: none 0 ease 0 1 normal;
    animation: none 0 ease 0 1 normal;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    appearance: normal;
    azimuth: center;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    background: none 0 0 auto repeat scroll padding-box transparent;
    background-color: transparent;
    background-image: none;
    baseline-shift: baseline;
    binding: none;
    bleed: 6pt;
    bookmark-label: content();
    bookmark-level: none;
    bookmark-state: open;
    bookmark-target: none;
    border: 0 none transparent;
    border-radius: 0;
    bottom: auto;
    box-align: stretch;
    -webkit-box-decoration-break: slice;
    box-decoration-break: slice;
    box-direction: normal;
    box-flex: 0.0;
    box-flex-group: 1;
    box-lines: single;
    box-ordinal-group: 1;
    box-orient: inline-axis;
    box-pack: start;
    box-shadow: none;
    box-sizing: content-box;
    -webkit-break-after: auto;
    -moz-break-after: auto;
    break-after: auto;
    -webkit-break-before: auto;
    -moz-break-before: auto;
    break-before: auto;
    -webkit-column-break-inside: auto;
    page-break-inside: auto;
    break-inside: auto;
    caption-side: top;
    clear: none;
    clip: auto;
    color: inherit;
    color-profile: auto;
    -webkit-column-count: auto;
    -moz-column-count: auto;
    column-count: auto;
    -webkit-column-fill: balance;
    -moz-column-fill: balance;
    column-fill: balance;
    -webkit-column-gap: normal;
    -moz-column-gap: normal;
    column-gap: normal;
    -webkit-column-rule: medium medium #1f1f1f;
    -moz-column-rule: medium medium #1f1f1f;
    column-rule: medium medium #1f1f1f;
    -webkit-column-span: 1;
    -moz-column-span: 1;
    column-span: 1;
    -webkit-column-width: auto;
    -moz-column-width: auto;
    column-width: auto;
    -webkit-columns: auto auto;
    -moz-columns: auto auto;
    columns: auto auto;
    content: normal;
    counter-increment: none;
    counter-reset: none;
    crop: auto;
    cursor: auto;
    direction: ltr;
    display: inline;
    dominant-baseline: auto;
    drop-initial-after-adjust: text-after-edge;
    drop-initial-after-align: baseline;
    drop-initial-before-adjust: text-before-edge;
    drop-initial-before-align: caps-height;
    drop-initial-size: auto;
    drop-initial-value: initial;
    elevation: level;
    empty-cells: show;
    fit: fill;
    fit-position: 0% 0%;
    float: none;
    float-offset: 0 0;
    grid-columns: none;
    grid-rows: none;
    hanging-punctuation: none;
    height: auto;
    hyphenate-after: auto;
    hyphenate-before: auto;
    hyphenate-character: auto;
    hyphenate-lines: no-limit;
    hyphenate-resource: none;
    -webkit-hyphens: manual;
    -moz-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
    icon: auto;
    image-orientation: auto;
    image-rendering: auto;
    image-resolution: normal;
    inline-box-align: last;
    left: auto;
    line-height: inherit;
    line-stacking: inline-line-height exclude-ruby consider-shifts;
    list-style: disc outside none;
    margin: 0;
    marks: none;
    marquee-direction: forward;
    marquee-loop: 1;
    marquee-play-count: 1;
    marquee-speed: normal;
    marquee-style: scroll;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    move-to: normal;
    nav-down: auto;
    nav-index: auto;
    nav-left: auto;
    nav-right: auto;
    nav-up: auto;
    opacity: 1;
    orphans: 2;
    outline: invert none medium;
    outline-offset: 0;
    overflow: visible;
    overflow-style: auto;
    padding: 0;
    page: auto;
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: auto;
    page-policy: start;
    -webkit-perspective: none;
    perspective: none;
    -webkit-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    position: static;
    presentation-level: 0;
    punctuation-trim: none;
    quotes: none;
    rendering-intent: auto;
    resize: none;
    right: auto;
    rotation: 0;
    rotation-point: 50% 50%;
    ruby-align: auto;
    ruby-overhang: none;
    ruby-position: before;
    ruby-span: none;
    size: auto;
    string-set: none;
    table-layout: auto;
    top: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    -ms-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
    -webkit-transform-style: flat;
    transform-style: flat;
    transition: all 0 ease 0;
    unicode-bidi: normal;
    vertical-align: baseline;
    white-space: normal;
    white-space-collapse: collapse;
    widows: 2;
    width: auto;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    z-index: auto;
    text-align: start;
    /* And disable MS gradients */
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.abot-reset div, .abot-reset form, .abot-reset div.form, .abot-reset p {
    display: block;
}

.abot-reset input, .abot-reset select {
    display: inline-block;
}

.abot-reset textarea, .abot-reset input {
    cursor: text;
}

.abot-reset textarea::-webkit-input-placeholder, .abot-reset input::-webkit-input-placeholder {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size-adjust: none;
    font-size: 100%;
    font-style: normal;
    letter-spacing: normal;
    font-stretch: normal;
    font-variant: normal;
    font-weight: normal;
    font: normal normal 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    text-align-last: initial;
    text-decoration: none;
    -webkit-text-emphasis: none;
    text-emphasis: none;
    text-height: auto;
    text-indent: 0;
    text-justify: auto;
    text-outline: none;
    text-shadow: none;
    text-transform: none;
    text-wrap: normal;
    background-color: inherit;
    color: inherit;
}

.abot-reset textarea::-moz-placeholder, .abot-reset input::-moz-placeholder {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size-adjust: none;
    font-size: 100%;
    font-style: normal;
    letter-spacing: normal;
    font-stretch: normal;
    font-variant: normal;
    font-weight: normal;
    font: normal normal 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    -moz-text-align-last: initial;
    text-align-last: initial;
    text-decoration: none;
    text-emphasis: none;
    text-height: auto;
    text-indent: 0;
    text-justify: auto;
    text-outline: none;
    text-shadow: none;
    text-transform: none;
    text-wrap: normal;
    background-color: inherit;
    color: inherit;
}

.abot-reset textarea:-ms-input-placeholder, .abot-reset input:-ms-input-placeholder {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size-adjust: none;
    font-size: 100%;
    font-style: normal;
    letter-spacing: normal;
    font-stretch: normal;
    font-variant: normal;
    font-weight: normal;
    font: normal normal 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    text-align-last: initial;
    text-decoration: none;
    text-emphasis: none;
    text-height: auto;
    text-indent: 0;
    text-justify: auto;
    text-outline: none;
    text-shadow: none;
    text-transform: none;
    text-wrap: normal;
    background-color: inherit;
    color: inherit;
}

.abot-reset textarea::-moz-selection, .abot-reset input::-moz-selection {
    background-color: #b3d4fc;
}

.abot-reset textarea::selection, .abot-reset input::selection {
    background-color: #b3d4fc;
}

.abot-reset textarea::-moz-selection, .abot-reset input::-moz-selection {
    background-color: #b3d4fc;
}

.abot-reset a, .abot-reset a *, .abot-reset a span, .abot-reset input[type=submit], .abot-reset input[type=reset] {
    cursor: pointer;
}

.abot-reset a:link, .abot-reset a:visited, .abot-reset a:hover, .abot-reset a:active {
    color: inherit;
    background: transparent;
    text-shadow: none;
}

@media print {
    #abot-container {
        display: none;
    }
}

#abot-container .abot-launcher {
    z-index: 2147483000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 48px;
    height: 48px;
    visibility: hidden;
    -webkit-transform: translateZ(0);
}

#abot-container .abot-launcher-enabled {
    visibility: visible;
}

#abot-container .abot-launcher-inactive {
    visibility: hidden;
}

#abot-container .abot-launcher-button, #abot-offline-container .abot-launcher-button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-position: center;
}

#abot-container.abot-acquire .abot-launcher-button {
    background-image: url(abot.svg) /* noembed */;
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

@media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    #abot-container.abot-acquire .abot-launcher-button {
        background-image: url(abot.svg) /* noembed */;
    }
}

#abot-container .abot-chatbox {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#abot-container .abot-sheet {
    z-index: 2147483000;
    visibility: hidden;
    position: fixed;
    height: 100%;
    width: 368px;
    bottom: 0;
    right: 0;
}

#abot-container .abot-sheet.unready {
    height: 60%;
}

#abot-container .abot-sheet-active {
    visibility: visible;
}

#abot-container .abot-sheet-header {
    z-index: 2147483002;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
    background: white;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 48px;
}

#abot-container .abot-sheet-footer {
    z-index: 2147483002;
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.06);
    background: white;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 48px;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
}

#abot-container .abot-sheet-body {
    z-index: 2147483000;
    background: #fafafb;
    background: rgba(250, 250, 251, 0.98);
    border-left: 1px solid #dadee2;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

#abot-container .abot-sheet-active .abot-sheet-content {
    overflow-y: auto;
}

#abot-container .abot-sheet-content {
    z-index: 2147483001;
    position: absolute;
    top: 48px;
    right: 0;
    bottom: 0;
    width: 100%;
    -webkit-transform: translateZ(0);
}

#abot-container .abot-sheet-content-container {
    box-sizing: border-box;
    position: relative;
    min-height: 100%;
    max-width: 620px;
    margin: 0 auto;
}

#abot-container .abot-sheet-header-generic-title, #abot-container .abot-sheet-header-title-container {
    z-index: 2147483000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    pointer-events: none;
}

#abot-container .abot-sheet-header-generic-title, #abot-container .abot-sheet-header-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #465C66;
    letter-spacing: 0.2px;
    display: inline-block;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#abot-container .abot-sheet-header-generic-title.abot-sheet-header-with-presence, #abot-container .abot-sheet-header-title.abot-sheet-header-with-presence {
    padding-top: 14px;
}

#abot-container .abot-sheet-header-generic-title {
    max-width: 100%;
}

#abot-container .abot-last-active {
    position: absolute;
    z-index: 0;
    text-align: center;
    color: #90A4AE;
    font-size: 12px;
    left: 0;
    right: 0;
    bottom: 7px;
    line-height: 14px;
}

#abot-container .abot-sheet-header-button {
    z-index: 2147483001;
    position: relative;
    margin: 0 20px;
    height: 48px;
}

#abot-container .abot-sheet-header-button-icon {
    height: 100%;
    background-position: center center;
}

#abot-container .abot-sheet-header-conversations-button {
    float: left;
}

#abot-container .abot-sheet-header-conversations-button .abot-sheet-header-button-icon:hover {
    opacity: 1;
    transition: opacity 200ms linear;
}

#abot-container .abot-sheet-header-close-button {
    float: right;
    margin-left: 15px;
}

#abot-container .abot-sheet-header-close-button .abot-sheet-header-button-icon {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAq0lEQVR42o2RMQoCMRBFcwQ776C11upOekHEnaC47sQbWomIlWfRSm+wZiBFIAzfgYEw/PeKfLdYdyNiuSz5OHV/TLM9TTSvnPMsVx/ikPadBQh8aZ6C3Fyz62bp8SkFEOT4XQWZ670SaBCCeWwBBm0Bcb+xQSwYEFgLOO5L2LdyAEj9ObpGC7gOavuz0QLu0WoBgqhGCEJBOtwBWAly/qG1jInlWYJIoHnlfhcTzX2HEVUjAAAAAElFTkSuQmCC") /* embed */;
    background-size: 13px 13px;
    background-repeat: no-repeat;
    width: 16px;
    opacity: 0.4;
}

@media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    #abot-container .abot-sheet-header-close-button .abot-sheet-header-button-icon {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAUVBMVEUAAAAAAAAAVVUzTU0uRl1EWGRCWWFFWGNDWWNEWWNDWWNFWWNEWmNFWWNEWWREWmNEWWREWWNEWWNFWWREWmNEWWNFWmNFWmREWWRFWmRFWmTQYCLkAAAAGnRSTlMAAgMKC0BCXV+am6Cio6SlprS3vb6/wfX2/eBzOYoAAACDSURBVHja3dFJDsJADETRYgozYQqQvv9BaYNQqfWdC+CNF29V+pJWu7mSm207hT5Lb7ceyqv7aAmnlvBLfeHQuKsWw8+pj6XsqTYOhUNlh8IbhTdKt6ZuhUPhVjY6ffmMPt7r/VQ4Kgz2rODf9NXeSj9qPU73HTcKn+gbWv2e971VfQPHpCEx8fOtQAAAAABJRU5ErkJggg==") /* embed */;
    }
}

#abot-container .abot-sheet-header-close-button .abot-sheet-header-button-icon:hover {
    opacity: 1;
    transition: opacity 200ms linear;
}

#abot-container .abot-sheet-header-minimize-button {
    float: right;
    margin-right: 0;
}

#abot-container .abot-sheet-header-minimize-button .abot-sheet-header-button-icon:hover {
    opacity: 1;
    transition: opacity 200ms linear;
}

@media (max-width: 460px) {
    #abot-container .abot-sheet {
        width: 100%;
    }
}

@media (-ms-high-contrast: none), screen\0 {
    #abot-container .abot-sheet {
        width: 370px;
    }
}

#abot-container .abot-conversation-parts-container {
    padding: 16px;
}

#abot-container .abot-conversation-part {
    padding-bottom: 16px;
    position: relative;
}

#abot-container .abot-conversation-part:before, #abot-container .abot-conversation-part:after {
    content: " ";
    display: table;
}

#abot-container .abot-conversation-part:after {
    clear: both;
}

#abot-container .abot-conversation-part-grouped-first, #abot-container .abot-conversation-part-grouped {
    padding-bottom: 2px;
}

#abot-container .abot-conversation-part-grouped .abot-comment-avatar, #abot-container .abot-conversation-part-grouped .abot-comment-caret, #abot-container .abot-conversation-part-grouped-last .abot-comment-avatar, #abot-container .abot-conversation-part-grouped-last .abot-comment-caret {
    display: none;
}

#abot-container .abot-default-abot-avatar {
    background-color: #0071b2;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    width: 28px;
    height: 28px;
    line-height: 28px;
}

#abot-container .abot-no-conversations {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: -38px auto 0;
    text-align: center;
    color: #e4e5e7;
    display: none;
}

#abot-container .abot-conversations-empty .abot-no-conversations {
    display: block;
}

#abot-container .abot-conversations-fetching .abot-conversations-spinner {
    position: relative;
    left: 50%;
    margin-left: -14px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#abot-container .abot-comment {
    line-height: 20px;
    position: relative;
    clear: both;
    max-width: 272px;
}

#abot-container .abot-comment-by-user {
    float: right;
}

#abot-container .abot-comment-by-abot {
    float: left;
    padding-left: 38px;
}

#abot-container .abot-comment-avatar {
    width: 28px;
    height: 28px;
    position: absolute;
    left: 0;
    top: 2px;
}

#abot-container .abot-comment-body-container {
    font-size: 14px;
    font-weight: 400;
    color: #455A64;
    line-height: 20px;
    border-radius: 9px;
    border-width: 1px;
    border-style: solid;
    position: relative;
    max-width: 100%;
}

#abot-container .abot-comment-body-container .abot-comment-body {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

#abot-container .abot-comment-body-container p, #abot-container .abot-comment-body-container ul, #abot-container .abot-comment-body-container ol, #abot-container .abot-comment-body-container blockquote, #abot-container .abot-comment-body-container h1, #abot-container .abot-comment-body-container h2, #abot-container .abot-comment-body-container h3, #abot-container .abot-comment-body-container h4, #abot-container .abot-comment-body-container h5, #abot-container .abot-comment-body-container h6, #abot-container .abot-comment-body-container a, #abot-container .abot-comment-body-container .abot-container, #abot-container .abot-comment-body-container code {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word;
    margin: 20px 0;
}

#abot-container .abot-comment-body-container p:first-child, #abot-container .abot-comment-body-container ul:first-child, #abot-container .abot-comment-body-container ol:first-child, #abot-container .abot-comment-body-container blockquote:first-child, #abot-container .abot-comment-body-container h1:first-child, #abot-container .abot-comment-body-container h2:first-child, #abot-container .abot-comment-body-container h3:first-child, #abot-container .abot-comment-body-container h4:first-child, #abot-container .abot-comment-body-container h5:first-child, #abot-container .abot-comment-body-container h6:first-child, #abot-container .abot-comment-body-container a:first-child, #abot-container .abot-comment-body-container .abot-container:first-child, #abot-container .abot-comment-body-container code:first-child {
    margin-top: 0;
}

#abot-container .abot-comment-body-container p:last-child, #abot-container .abot-comment-body-container ul:last-child, #abot-container .abot-comment-body-container ol:last-child, #abot-container .abot-comment-body-container blockquote:last-child, #abot-container .abot-comment-body-container h1:last-child, #abot-container .abot-comment-body-container h2:last-child, #abot-container .abot-comment-body-container h3:last-child, #abot-container .abot-comment-body-container h4:last-child, #abot-container .abot-comment-body-container h5:last-child, #abot-container .abot-comment-body-container h6:last-child, #abot-container .abot-comment-body-container a:last-child, #abot-container .abot-comment-body-container .abot-container:last-child, #abot-container .abot-comment-body-container code:last-child {
    margin-bottom: 0;
}

#abot-container .abot-comment-body-container h1, #abot-container .abot-comment-body-container h1 a {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: normal;
    margin: 27px 0;
    color: inherit;
}

#abot-container .abot-comment-body-container h2, #abot-container .abot-comment-body-container h2 a {
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    margin: 20px 0 10px;
    color: inherit;
}

#abot-container .abot-comment-body-container ul, #abot-container .abot-comment-body-container ol {
    font-size: 14px;
    -moz-padding-start: 40px;
    -webkit-padding-start: 40px;
    -khtml-padding-start: 40px;
    -o-padding-start: 40px;
    padding-start: 40px;
    padding-left: 30px;
}

#abot-container .abot-comment-body-container [dir=ltr] ul, #abot-container .abot-comment-body-container [dir=ltr] ol {
    padding-left: 30px;
}

#abot-container .abot-comment-body-container [dir=rtl] ul, #abot-container .abot-comment-body-container [dir=rtl] ol {
    padding-right: 30px;
}

#abot-container .abot-comment-body-container ul > li {
    list-style-type: disc;
}

#abot-container .abot-comment-body-container ol > li {
    list-style-type: decimal;
}

#abot-container .abot-comment-body-container li {
    display: list-item;
    line-height: 20px;
    margin-bottom: 10px;
    font-weight: 400;
}

#abot-container .abot-comment-body-container em, #abot-container .abot-comment-body-container i {
    font-style: italic;
}

#abot-container .abot-comment-body-container strong, #abot-container .abot-comment-body-container b {
    font-weight: bold;
    line-height: 100%;
}

#abot-container .abot-comment-body-container pre {
    font-size: 14px;
    padding: 0 0 10px 0;
    white-space: pre-wrap;
}

#abot-container .abot-comment-body-container img {
    display: block;
    max-width: 100%;
    margin: 10px 0;
}

#abot-container .abot-comment-body-container p + br {
    display: none;
}

#abot-container .abot-comment-body-container a:link, #abot-container .abot-comment-body-container a:visited, #abot-container .abot-comment-body-container a:hover, #abot-container .abot-comment-body-container a:active {
    text-decoration: underline;
}

#abot-container .abot-comment-body-container a:link, #abot-container .abot-comment-body-container a:visited {
    color: #0071b2;
}

#abot-container .abot-comment-body-container a:hover, #abot-container .abot-comment-body-container a:active {
    color: #00498a;
}

#abot-container .abot-comment-body-container h2 + p, #abot-container .abot-comment-body-container h2 + ul, #abot-container .abot-comment-body-container h2 + ol, #abot-container .abot-comment-body-container h2 + blockquote, #abot-container .abot-comment-body-container h2 + .ic_button_in_content, #abot-container .abot-comment-body-container h2 + .ic_social_block, #abot-container .abot-comment-body-container h3 + p, #abot-container .abot-comment-body-container h3 + ul, #abot-container .abot-comment-body-container h3 + ol, #abot-container .abot-comment-body-container h3 + blockquote, #abot-container .abot-comment-body-container h3 + .ic_button_in_content, #abot-container .abot-comment-body-container h3 + .ic_social_block, #abot-container .abot-comment-body-container h4 + p, #abot-container .abot-comment-body-container h4 + ul, #abot-container .abot-comment-body-container h4 + ol, #abot-container .abot-comment-body-container h4 + blockquote, #abot-container .abot-comment-body-container h4 + .ic_button_in_content, #abot-container .abot-comment-body-container h4 + .ic_social_block, #abot-container .abot-comment-body-container h5 + p, #abot-container .abot-comment-body-container h5 + ul, #abot-container .abot-comment-body-container h5 + ol, #abot-container .abot-comment-body-container h5 + blockquote, #abot-container .abot-comment-body-container h5 + .ic_button_in_content, #abot-container .abot-comment-body-container h5 + .ic_social_block, #abot-container .abot-comment-body-container h6 + p, #abot-container .abot-comment-body-container h6 + ul, #abot-container .abot-comment-body-container h6 + ol, #abot-container .abot-comment-body-container h6 + blockquote, #abot-container .abot-comment-body-container h6 + .ic_button_in_content, #abot-container .abot-comment-body-container h6 + .ic_social_block {
    margin-top: 0;
}

#abot-container .abot-comment-body-container .abot-h2b-twitter, #abot-container .abot-comment-body-container .abot-h2b-facebook {
    max-width: 100%;
}

#abot-container .abot-comment-body-container iframe[src*="vimeo.com"], #abot-container .abot-comment-body-container iframe[src*="wistia.net"], #abot-container .abot-comment-body-container iframe[src*="youtube.com"] {
    width: 100%;
    height: 149px;
    margin: 20px auto;
}

#abot-container .abot-comment-body {
    padding: 12px 17px;
}

#abot-container .abot-comment-body .abot-upload-body{
    padding: 2px;
}

#abot-container .abot-comment-body.abot-upload-body{
    padding: 2px;
}

#abot-container .abot-comment-body p {
    margin: 1em 0 0;
}

#abot-container .abot-comment-body p:first-child {
    margin-top: 0;
}

#abot-container .abot-comment-body pre span {
    color: inherit !important;
    background-color: inherit !important;
    font-weight: inherit !important;
    word-wrap: break-word;
}

#abot-container .abot-comment-metadata-container {
    padding: 2px 2px 0;
}

#abot-container .abot-comment-metadata {
    font-size: 12px;
    line-height: 20px;
    color: #B0BEC5;
    float: left;
}

#abot-container .abot-comment-by-abot .abot-comment-metadata {
    margin-right: 6px;
}

#abot-container .abot-comment-caret:after, #abot-container .abot-comment-caret:before {
    top: 10px;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

#abot-container .abot-comment-caret:after {
    border-width: 3px;
    margin-top: 1px;
}

#abot-container .abot-comment-caret:before {
    border-width: 4px;
}

#abot-container .abot-comment-by-user {
    text-align: right;
}

#abot-container .abot-comment-by-user .abot-comment-body-container {
    display: inline-block;
    background-color: #1AABED;
    color: white;
}

#abot-container .abot-comment-by-user .abot-comment-body-container a, #abot-container .abot-comment-by-user .abot-comment-body-container a:link, #abot-container .abot-comment-by-user .abot-comment-body-container a:visited, #abot-container .abot-comment-by-user .abot-comment-body-container a:hover, #abot-container .abot-comment-by-user .abot-comment-body-container a:active {
    color: white;
}

#abot-container .abot-comment-by-user .abot-comment-metadata {
    float: right;
}

#abot-container .abot-comment-by-user .abot-comment-caret:before, #abot-container .abot-comment-by-user .abot-comment-caret:after {
    left: 100%;
}

#abot-container .abot-comment-by-user .abot-comment-caret:after {
    border-width: 4px;
    margin-top: -1px;
    border-left-color: #1AABED;
}

#abot-container .abot-comment-by-abot .abot-comment-body-container {
    box-shadow: 0 1px 2px 0 rgba(234, 236, 238, 0.8);
    background-color: white;
    border-color: #dadee2;
}

#abot-container .abot-comment-by-abot .abot-comment-caret:after, #abot-container .abot-comment-by-abot .abot-comment-caret:before {
    right: 100%;
}

#abot-container .abot-comment-by-abot .abot-comment-caret:after {
    border-right-color: white;
}

#abot-container .abot-comment-by-abot .abot-comment-caret:before {
    border-right-color: #dadee2;
}

#abot-container .abot-composer {
    z-index: 2147483001;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 336px;
    margin: 0 auto;
    padding: 16px;
}

#abot-container .abot-composer.abot-composer-inactive {
    display: none;
}

#abot-container .abot-powered-by-enabled .abot-composer {
    padding: 8px 6px 0;
}

#abot-container .abot-composer-textarea-container {
    min-height: 32px;
}

#abot-container .abot-composer-disabled .abot-composer-textarea-container {
    opacity: .5;
}

#abot-container .abot-composer-textarea {
    position: relative;
    overflow: hidden;
}

#abot-container .abot-composer-textarea textarea, #abot-container .abot-composer-textarea pre {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    min-height: 40px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    padding: 10px 70px 5px 10px;
    border-radius: 4px;
}

#abot-container .abot-composer-textarea textarea {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    color: #455A64;
    resize: none;
    border-radius: 4px;
    border: 1px solid #CFD8DC;
}

#abot-container .abot-composer-textarea textarea::-webkit-input-placeholder {
    color: #B0BEC5;
    font-style: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

#abot-container .abot-composer-textarea textarea::-moz-placeholder {
    color: #B0BEC5;
    font-style: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

#abot-container .abot-composer-textarea textarea:-ms-input-placeholder {
    color: #B0BEC5;
    font-style: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

#abot-container .abot-composer-textarea textarea:focus, #abot-container .abot-composer-textarea textarea:active {
    border-color: #74BEFF;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.06);
}

#abot-container .abot-composer-textarea textarea, #abot-container .abot-composer-textarea pre > span {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#abot-container .abot-composer-textarea pre {
    margin: 0;
}

#abot-container .abot-composer-textarea pre > span {
    visibility: hidden;
}

#abot-container .abot-composer-press-enter-to-send {
    display: none;
    text-align: right;
    width: 100%;
    box-sizing: border-box;
    line-height: 22px;
    color: #b6c2c9;
    font-size: 13px;
}

#abot-container .abot-powered-by-enabled .abot-composer-press-enter-to-send {
    position: absolute;
    padding-bottom: 2px;
    bottom: 0;
    left: 8px;
    right: 8px;
    width: auto;
}

#abot-container .abot-powered-by {
    width: 100%;
    color: #B0BEC5;
    text-align: center;
    clear: both;
    font-weight: 500;
    line-height: 22px;
    padding: 7px;
}

#abot-container .abot-powered-by span {
    font-size: 13px;
    text-decoration: none;
}

#abot-container .abot-powered-by u {
    text-decoration: underline;
}

#abot-container .abot-powered-by a:hover, #abot-container .abot-powered-by a:active {
    color: #B0BEC5;
}

#abot-container .abot-powered-by a:hover u, #abot-container .abot-powered-by a:active u {
    color: #B0BEC5;
}

#abot-container.abot-ie8 .abot-sheet-content {
    clip: rect(-9999px, 9999px, 9999px, -9999px);
}

#abot-container.abot-ie8 .abot-composer, #abot-container.abot-ie8 .abot-sheet-footer {
    border-top: 1px solid #dadee2;
}

#abot-container.abot-ie8 .abot-comment {
    display: block;
    float: none;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}

#abot-container.abot-ie8 .abot-comment-by-user .abot-comment-body-container, #abot-container.abot-ie8 .abot-comment-by-abot .abot-comment-body-container {
    max-width: 272px;
    float: right;
    clear: both;
}

#abot-container.abot-ie8 .abot-comment-metadata-container {
    clear: both;
}

#abot-container.abot-ie8 .abot-comment-by-abot .abot-comment-body-container {
    float: left;
}

#abot-container .abot-conversation-parts {
    transition: opacity .2s;
}

#abot-container .abot-sheet {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
    transition: -webkit-transform 250ms ease-in-out, opacity 100ms linear 150ms;
    transition: transform 250ms ease-in-out, opacity 100ms linear 150ms;
}

#abot-container {
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#abot-container .abot-abot-avatar, #abot-container .abot-abot-avatar img {
    width: 48px;
    height: 48px;
}

#abot-container .abot-abot-avatar {
    overflow: hidden;
    text-align: center;
    background-color: #fff;
}

#abot-container .abot-abot-avatar, #abot-container .abot-abot-avatar img {
    margin: 0 auto;
    border-radius: 50%;
}

.fromBottomToUp {
    -webkit-animation: moveFromBottom .6s ease both;
    -moz-animation: moveFromBottom .6s ease both;
    -o-animation: moveFromBottom .6s ease both;
    animation: moveFromBottom .6s ease both;
}

@-webkit-keyframes moveFromBottom {
    from { -webkit-transform: translateY(100%); }
}
@keyframes moveFromBottom {
    from { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

#abot-container .abot-active{
    -webkit-animation: moveFromRightFade .6s ease both;
    -moz-animation: moveFromRightFade .6s ease both;
    -o-animation: moveFromRightFade .6s ease both;
    animation: moveFromRightFade .6s ease both;
}

#abot-container .abot-inactive{
    -webkit-animation: moveToRightFade .6s ease both;
    -moz-animation: moveToRightFade .6s ease both;
    -o-animation: moveToRightFade .6s ease both;
    animation: moveToRightFade .6s ease both;
}
@-webkit-keyframes moveFromRightFade {
    from { opacity: 0.3; -webkit-transform: translateX(100%); }
}
@keyframes moveFromRightFade {
    from { opacity: 0.3; -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveToRightFade {
    from { }
    to { opacity: 0.3; -webkit-transform: translateX(100%); }
}
@keyframes moveToRightFade {
    from { }
    to { opacity: 0.3; -webkit-transform: translateX(100%); transform: translateX(100%); }
}

.abot-sheet-content{
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#abot-container .abot-comment-body-container img {
    display: block;
    max-width: 100%;
    margin: 10px 0;
}

#abot-container .abot-upload-comment.abot-upload-image {
    max-width: 266px;
}


#abot-container .abot-upload-comment.abot-upload-image .abot-upload-body img {
    margin: 0;
    border-radius: 4px;
}

#abot-container .abot-image-viewable {
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

#abot-container .abot-upload-comment.abot-upload-image .abot-comment-body-container {
    background-color: transparent;
}

#abot-container .abot-upload-comment .abot-attachment-progress-bar {
    border-radius: 4px;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 6px;
    border: 1px solid #ccc;
    vertical-align: middle;
    background-color: #fff;
    margin: 0 5px
}

#abot-container .abot-upload-comment .abot-attachment-progress-percentage {
    transition: width .4s;
    width: 0;
    border-radius: 3px;
    background-color: #0074b0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0
}

#abot-container .abot-sheet-content-container-unready {
    box-sizing: border-box;
    position: relative;
    max-width: 620px;
    margin: 0 auto;
}

#abot-container .abot-sheet-content-container-unready .formWrapper{
    box-shadow: 0 0 4px 0 rgba(75,171,255,.38);
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid #74BEFF;
    margin: 5px;
}

#abot-container .abot-sheet-content-container-unready .formWrapper input, #abot-container .abot-sheet-content-container-unready .formWrapper textarea{
    border: 1px solid #e4e4e4;
    padding: 4px;
    font-size: .9em;
    max-width: 100%;
    width: 100%;
    box-sizing: content-box;
    resize: none;
}

.formWrapper textarea::-webkit-input-placeholder, .formWrapper input::-webkit-input-placeholder {
    color: #a2a2a2;
}

.formWrapper textarea::-moz-placeholder, .formWrapper input::-moz-placeholder {
    color: #a2a2a2;
}

.formWrapper textarea:-ms-input-placeholder, .formWrapper input:-ms-input-placeholder {
    color: #a2a2a2;
}

.formWrapper textarea::-moz-selection, .formWrapper input::-moz-selection {
    color: #a2a2a2;
}

#unready_message_span{
    position: relative;
    overflow: hidden;
    margin: 6px;
    display: block;
    padding-bottom: 10px;
}

#abot-container .abot-viewer-overlay {
    z-index: 2147483003;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
    opacity: 0;
}

#abot-container .abot-zoomed-image {
    z-index: 2147483004;
    position: fixed;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
    transition: all .3s ease;
}

#abot-container .abot-image-viewer-overlay {
    z-index: 2147483003;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
    opacity: 0;
}

#abot-offline-container{
    border: none; z-index: 999998;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1;
    position: fixed; bottom: 0px;
    width: 374px;
    right: 0px;
    background: transparent;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}

#abot-offline-container div, #abot-offline-container input, #abot-offline-container textarea {
    font-size: 12px;
}


#abot-offline-container .abot-form-container {
    width:95%;
    margin:15px;
    border:1px solid #ddd;
    border-radius: .66667rem;
    box-sizing: border-box;
    overflow: hidden!important;
    background: #fff;
}

#abot-offline-container .abot-form-container-header {
    background: #f8f8f8;
    border-bottom: 1px solid #ddd;
    padding-top: 8px!important;
}

#abot-offline-container .abot-form-container-header-close-button {
    float: right;
    z-index: 2147483001;
    position: absolute;
    top: 35px;
    right: 35px;
}

#abot-offline-container .abot-form-container-header-close-button .button-icon {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAq0lEQVR42o2RMQoCMRBFcwQ776C11upOekHEnaC47sQbWomIlWfRSm+wZiBFIAzfgYEw/PeKfLdYdyNiuSz5OHV/TLM9TTSvnPMsVx/ikPadBQh8aZ6C3Fyz62bp8SkFEOT4XQWZ670SaBCCeWwBBm0Bcb+xQSwYEFgLOO5L2LdyAEj9ObpGC7gOavuz0QLu0WoBgqhGCEJBOtwBWAly/qG1jInlWYJIoHnlfhcTzX2HEVUjAAAAAElFTkSuQmCC") /* embed */;
    background-size: 13px 13px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    opacity: 0.4;
}

#abot-offline-container h2 {
    font-size: 14px;
    text-align: center!important;
    font-weight: 800!important;
    line-height: 16px;
    margin-top: 8px;
    margin-bottom: 10px;
}

#abot-offline-container .abot-form-container-content {
    overflow-y: hidden;
    overflow-x: hidden;
    box-sizing: border-box;
}

#abot-offline-container .abot-label-container {
    margin-bottom: 1.0rem;
    display: block!important;
}

#abot-offline-container .abot-form-field-arrows {
    position:absolute;
    right:1.16667rem;
    top:1.08333rem;
    pointer-events:none;
    left:1.16667rem;
    right:initial
}


#abot-offline-container .abot-result-image{
    width:60px;height:60px;float:left;
}

#abot-offline-container .abot-result-message{
    font-size: 14px;
    font-weight: bold;
    float:left;
    margin-top:20px;
    margin-left:10px;
}

#abot-offline-container .abot-result{
    padding-top: 15px;
    padding-bottom: 5px;
    height: 60px;
}

#abot-offline-container .abot-form-field-container{
    margin-bottom: .6rem;
    font-weight: 800;
    display: block;
    color: #AAA;
    line-height: 0.9;
}

#abot-offline-container .abot-form-field {
    color: #939393;
    cursor: text;
    position: relative!important;
}

#abot-offline-container .abot-form-field input, #abot-offline-container .abot-form-field select, #abot-offline-container .abot-form-field textarea {
    background: #fff;
    border: .09167rem solid #dadada;
    border-radius: .33333rem;
    padding: 10px 12px;
    resize: none;
    color: #555;
    width: 100%;
    font-size:13px;
    min-height: 12px;
    margin: 0px;
}

#abot-offline-container .abot-form-field input[type=text]:focus{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

#abot-offline-container .abot-form-field textarea:focus{
    /*border: 1px solid rgba(81, 203, 238, 1);*/
}

#abot-offline-container .ui-paddingHL {
    padding-left: 1.66667rem!important;
    padding-right: 1.66667rem!important;
}

#abot-offline-container .ui-paddingTM {
    padding-top: 1.25rem!important;
}
#abot-offline-container .ui-paddingRS {
    padding-right: 1.66667rem!important;
}
#abot-offline-container .ui-paddingLL {
    padding-left: 1.66667rem;
}

#abot-offline-container .ui-paddingVM {
    padding-bottom: 1.25rem!important;
}

#abot-offline-container .btn {
    font-size: 14px;
    line-height: 1;
    border-radius: 4px;
    border-color: #ddd;
    background-color: #fff;
    color: #555;
    font-weight: 900;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    display: inline-block;
    vertical-align: middle;
    font: inherit;
    text-align: center;
    margin-right: 4px;
    cursor: pointer;
    overflow: visible;
    padding: 11px 21px;
    background-color: #4a8ec2;
    border: 1px solid #4a8ec2;
}

#abot-offline-container .ui-borderTransparent {
    border: 1px solid transparent!important;
}

#abot-offline-container .abot-button-group {
    text-align: right;
}

#abot-offline-container .btn-secondary {
    background-color: #fff;
    color: rgba(51,51,51,.8);
}

#abot-offline-container .btn-primary {
    color: #fff;
}

#abot-offline-container .btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

#abot-offline-container .help-block{
    color: #a94442;
    display: none;
    margin-top: 5px;
    margin-bottom: 10px;
}
